$button-color: #91d1ff;
$button-hover-color: #83c3f0;

.app-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  .add-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-bottom: 15px;
    input {
      width: 60%;
      height: 25px;
      border: 1px solid #a9a9a9;
      box-shadow: inset 0px 0px 0.5px 0px rgba(0, 0, 0, 0.6);
      border-radius: 6px;
      text-align: center;
      font-size: 16px;
      margin-right: 5%;
      transition: 0.5s ease-in-out;
      &:focus {
        outline: none;
        border-color: #83c3f0;
      }
    }

    .add-button {
      background-color: $button-color;
      color: #fff;
      width: 7%;
      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .sort-container {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-bottom: 15px;
    span {
      font-weight: bold;
    }
    .sort-button {
      background-color: $button-color;
      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .todo-list-container {
    width: 75%;
    margin-bottom: 25px;
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #d6d6d6;
        padding: 5px;
        background-color: #efefef;
        &:first-child{
          border-radius: 6px 6px 0 0;
        }
        &:last-child {
          border: none;
          border-radius: 0 0 6px 6px;
        }
        .task-title {
          width: 50%;
          text-transform: capitalize;
        }
        &.done {
          background-color: #9efbcb;
          & .task-title{
            text-decoration: line-through;
          }
        }
        &.canceled {
          background-color: #ffd664;
          & .task-title{
            text-decoration: line-through;
          }
        }

        .set-active-button {
          background-color: $button-color;
          &:hover {
            background-color: $button-hover-color;
          }
        }
        .set-done-button {
          background-color: #31ef8e;
          &:hover {
            background-color: #28ca77;
          }
        }
        .set-canceled-button {
          background-color: #f3b300;
          &:hover {
            background-color: #d69e00;
          }
        }
        .delete-task-button {
          background-color: #e6622f;
          &:hover {
            background-color: #c7582d;
          }
        }
      }
    }
  }
  .clear-button{
    background-color: #e6622f;
    height: 40px;
    padding: 10px;
    &:hover{
      background-color: #c7582d;
    }
  }
}
