<div class="app-container">
  <h1>To-Do List App</h1>
  <div class="add-container">
    <input type="text" #addInput>
    <button class="button add-button" (click)="addToDo(addInput)">Add</button>
  </div>

  <div class="sort-container">
    <span>Sort by:</span>
    <button class="button sort-button" (click)="sortTasks('task')">Title</button>
    <button class="button sort-button" (click)="sortTasks('created')">Creation Time</button>
    <button class="button sort-button" (click)="sortTasks('status')">Status</button>
  </div>

  <div class="todo-list-container">
    <ul>
      <li class="todo-item" *ngFor="let todo of todos; let index = index; " [ngClass]="{
        'active': todo.status === 0,
        'done': todo.status === 1,
        'canceled': todo.status === 2}">
        <span class="task-title">{{index + 1}}. {{todo.task}}</span>
        <button class="button set-active-button" (click)="setStatus(index, 0)">
          <fa-icon [icon]="faClock"></fa-icon>
          <span class="tooltip">Set active</span>
        </button>
        <button class="button set-done-button" (click)="setStatus(index, 1)">
          <fa-icon [icon]="faCheck"></fa-icon>
          <span class="tooltip">Set done</span>
        </button>
        <button class="button set-canceled-button" (click)="setStatus(index, 2)">
          <fa-icon [icon]="faBan"></fa-icon>
          <span class="tooltip">Set canceled</span>
        </button>
        <button class="button delete-task-button" (click)="deleteTask(index)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
          <span class="tooltip">Delete task</span>
        </button>
      </li>
    </ul>
  </div>

  <button class="button clear-button" (click)="clearTodos()">Clear the list</button>
</div>
